RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################

RewriteRule ^upload/photo$ core/upload-photo.php [L]

### SETTING ROLES ###
RewriteRule ^post$ controllers/post/post.php [L]
RewriteRule ^post/([0-9]+)$ controllers/post/post.php?postid=$1 [L]
RewriteRule ^post/active$ controllers/post/active.php [L]
RewriteRule ^post/search$ controllers/post/search.php [L]


### SETTING USER###
RewriteRule ^user$ controllers/user/user.php [L]
RewriteRule ^user/([0-9]+)$ controllers/user/user.php?userid=$1 [L]
RewriteRule ^user/active/([0-9]+)$ controllers/user/active.php?userid=$1 [L]
RewriteRule ^user/search$ controllers/user/search.php [L]
RewriteRule ^user/password$ controllers/user/set-password.php [L]
RewriteRule ^user/reset$ controllers/user/reset-password.php [L]
RewriteRule ^user/login$ controllers/user/login.php [L]
RewriteRule ^user/token$ controllers/user/token.php [L]